@import "../../fonts/fontawesome/css/all.min.css";
@import "../../styles/default/variables";
@import "../../styles/mixin";
@import "../../styles/builder";

:root {
  --body-max-width: 100%;
  --sidebar-max-width: 290px;
}

.builder-trix-container {
  background: white;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  border-radius: 5px;
}

.select2-container--bootstrap {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  margin: 5px 0.5%;
  width: 99%;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  background-repeat: no-repeat;
}

.darkmode {
  .btn-close {
    color: #fff;
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      50%/1em auto no-repeat;
  }
}

.error_required {
  background: rgba(255, 100, 100, 0.25);
}
